@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --bg-white: #F2F2F2;
    --White: rgb(255, 255, 255);
    --Green:rgba(61, 160, 143, 1);
    --L-blue:rgba(47, 101, 248, 1);
    --Blue:rgba(7, 4, 59, 1);
    --Faded-blue:rgba(87, 89, 136, 1);
    --Hover-blue: rgba(108, 155, 255, 1);
    --Hover-green:rgba(113, 223, 204, 1);
    }
    *{
      box-sizing: border-box;
      scroll-behavior:smooth;
      margin:0 auto;
    }
    
    html {
      width:100%;
      height: 100vh;
    }
    .container{
        padding: 0 25px;
        text-align: center;
        max-width:1000px;
        margin:0 auto;
    }
    .header{
        margin-top: 25px;
        text-align: start;
    }
    .logo{
        width:80px;
    }
    .header-nav{
        float:right;
    }
    .header-links{
        text-decoration:none;
        padding-left:25px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color:var(--Blue);
    }
    .first{
        margin-top: 100px;
    }
    .main-photo{
        max-width:100%;
    }
    .textbox{
        text-align: center;
        color:var(--Blue);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
    }
    h1{
        margin-top: 40px;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;   
    }
    .first-p{
        margin-top: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
    #emailAddress{
        border-style: none;
        margin-top:32px;
        border: 0.625px solid #07043B;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
        border-radius: 3.125px;
        width:305px;
        height:40px;
    }
    #submit{
        display: block;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
        border-radius: 3.125px;
        width:305px;
        height:40px;
        background: var(--L-blue);
        border-style:none;
        margin-top:16px;
        color:var(--White);
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    #submit:hover{
        cursor: pointer;
        background:var(--Hover-blue);
    }

    input[type="email"] {
        padding-left:20px;
      }
    .second-section{
        background-color:#f8f8fe;
        padding-bottom:80px;
    }
    .curve{
        margin-top:90px;
        width:100%;
        max-width:100%;
        margin-bottom:-5px;
    }   
    .light-blue-bg-img{
        margin:0 auto;
    }

    h2{
        padding-top:85px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    .light-blue-bg-p{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-top:20px;
        color:#615F7E;
    }
    .arrow{
        margin-top:36px;  
    }
    .arrow-txt{
        text-decoration: none;
        color:var(--Green);
        font-weight: 400;
        font-size: 12px;
        line-height: 16px; 
    }
    .arrow-icon{
        margin-bottom: -5px;
        fill:var(--Green);
    }
    .green-line{
        background: var(--Green);
        width:130px;
        height:1px;
        margin-top:5px;
    }
    .arrow-txt:hover {
        color:var(--Hover-green);
    }
    .arrow-txt:hover .arrow-icon{
        fill:var(--Hover-green);
    }
    .arrow-txt:hover + .green-line{
        background:var(--Hover-green);
    }
   .quote-box{
    max-width:530px;
    margin-top:40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
    text-align:start;
    padding: 13px 13px 20px 25px;
   } 
   .quote-p{
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.384615px;
   }
   .founder-info{
    margin-top:12px;
   }
   .avatar{
     border-radius: 50%;
     width:24px;
     height:24px;
     margin-bottom:-2px;
   }
   .name-position{
    display:inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.45px;
   }
   .position{
    font-weight: 400;
    font-size: 6px;
    line-height: 12px;
    letter-spacing: 0.3px;
   }
   .third-section{
    background:var(--Faded-blue);
    text-align: center;
    color:var(--White);
    padding-top: 54px;
    padding-bottom: 71px;
   }
   h3{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
   }
   .purple-bg-p{
    margin-top:16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
   }
   #purple-bg-email{
    margin-top:24px;
    border-style: none;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    border-radius: 1.47059px;
    width:305px;
    height:40px;
   }
   .footer-bg{
    background: var(--Blue);
   }
   .footer-content{
    text-align:start;
    padding-top:65px;
    padding-bottom: 42px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
   }
   .footer-logo{
    fill:var(--White);
   }
   .contact-info{
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   }
   a{
    text-decoration: none;
   }
   .tel-number{
    color:var(--White);
   }
   .phone-logo{
    margin-right: 20px;
    margin-bottom:-4px
   }
   .fylo-mail{
    display:block;
    color:var(--White);
    margin-top:16px;
   }
   .email-logo{
    margin-right: 19px;
    margin-bottom:-4px
   }
   .footer-links,
   .footer-links-2{
    margin-top:32px;
   }

   .footer-link{
    color:var(--White);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display:block;
    margin-top:16px;
   }
   .footer-link:hover{
    color:var(--L-blue);
   }
   .social-icons{
    margin-top:32px;
    text-align: center;
   }
   .s-icon{
    margin-right:10px;
   }
   .round-icon:hover{
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
   }
   #mail-error{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #EF4877;
   }
   #white-mail-error{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color:white;
    margin:0;
   }

   @media only screen and (min-width: 1300px){
        .container{
            padding:0 40px;
            max-width:1300px;
        }
        .header{
            margin-top:60px;
        }
        .logo{
            width:166px;
        }
        .header-links{
            font-size: 16px;
            line-height: 19px;
            padding-left:50px;
        }
        .first{
            margin-top:130px;
            display:flex;
            flex-direction:row-reverse;
        }
        .main-photo{
            max-width:44%;
            margin-top: -50px;
        }
        .textbox{
            text-align: start;
            margin-left:0;
        }
        h1{
            font-size: 40px;
            line-height: 60px;
        }
        .first-p{
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.53125px;
            max-width: 80%;
            margin-left: 0;
        }
        #emailAddress{
            width:320px;
            height:45px;
        }
        #submit{
            width:200px;
            height:45px;
            display:inline-block;
            margin-left:16px;
        }
        .flex{
            display: flex;
            flex-direction: row-reverse;
            text-align: start;
            margin:0 auto;
        }
        h2{
            font-size: 40px;
            line-height: 47px;
        }
        .light-blue-bg-img{
            width:40%;
            margin:0;
        }
        .light-blue-bg-p{
            font-size: 16px;
            line-height: 24px;
            width:80%;
            margin-left:0;
        }
        .arrow-txt{
            font-size: 16px;
            line-height: 22px;
        }
        .arrow{
            float: left;
            margin-top:16px;  
        }
        .green-line{
            width:166px;
        }
        .quote-box{
            margin-left:0;
            margin-top:80px;
            width:50%;
        }
        .quote-p{
            font-size: 13px;
            line-height: 23px;
            letter-spacing: 0.5px
        }
        .name-position{
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0.55px;
        }
        .position{
            font-size: 8px;
            line-height: 15px;
            letter-spacing: 0.4px;
        }
        .avatar{
        width:32px;
        height:32px;
        }
        .purple-flex{
            display:flex;
            flex-direction: row;
            text-align: left;
            justify-content: space-between;
        }
        .white-textbox{
            margin:0;
            width:40%;
        }
        h3{
            font-size: 32px;
            line-height: 48px;
        }
        .purple-bg-p{
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
        }
        #purple-bg-email{
            margin:0;
        }
        .purple-bg{
            margin:0;
            display: flex;
            flex-direction: column;
        }
        .purple-submit{
            margin-left:0 !important ;
        }
        .footer-content{
            padding-top:160px;
            padding-bottom: 80px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .footer-links,
        .footer-links-2{
            margin:0;
        }
        
        .social-icons{
            margin: 16px 0;
        }
        .contact-info{
            margin:0;
            margin-top:35px;
        }
        .flex-column{
            margin:0;
            margin-top:-70px;
        }

   }
